.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* page1 */
body{
    background-color: rgba(245,248,255,1);
}
header{
    height: 100vh;
    width: 100wh;
}
.heading{
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 250px;
}
.logo{
    color:  rgba(78, 71, 255, 1);
    font-family: Inter;
    font-size: 34px;
    font-weight: 900;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
}
.btn{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 6px;
    height:48px;
    width:174px;

}
nav{
    display: flex;
    justify-content: space-between;
}
.page1{
    background-image: url(./Assets/Hero-bg.png);
    background-position: center ;
    background-repeat: none;
    background-size: cover;
}
#sign{
    margin-top: 20px;
    margin-right: 60px;
}
#stay{
    margin-top: 100px;
    margin-left: 650px;
}
/* page2 */
.page2{
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.heading2{
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    }
.explore{
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}
.image{
    width:403px ;
    height: 328px;
    border-radius: 48px;
    margin-right: 100px;
}
#launch{
    margin-top: 20px;
}

.page3{
    margin-top: 40px;
}
.heading3{
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    padding: 40px;
}
.digit{
    display: flex;
    justify-content: space-around;
}
.num{
    color:  rgba(78, 71, 255, 1);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: 97px;
    padding-top: 30px;
   
}
.container2{
    height: 306px;
    width: 1140px;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1); 
    text-align: center;
    margin-left: 150px;
}
.user{
    color: rgba(0,0,0,0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    
}
/* page4 */
.testimonials{
    margin-top: 50px;
    padding-left: 60px;
    padding: 20px;
}
.title{
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.card{

    margin-top: 50px;
    background-color: white;
    border-radius: 13px;
    padding: 24px;
    text-align: left;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.review-image{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.date{
    color:  rgba(179, 179, 179, 1);

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    text-align: left;
}
.name{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    text-align: left;
}
.review-p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 10px;
}
.heading4{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
    margin-top: 10px;
}
/* page5 */
.focus-d{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 24px;
}
.focus{
    margin-top: 40px;
}
.focus-image{
    border-radius: 30px;
    margin-top: 35px;
    width: 840px;
    margin-left: 200px;
    padding-bottom: 30px;
}
.focus-heading{
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px;
}
.focus-p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}
/* page5 */
.form-fill{
    margin-top: 40px;
}
.form-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-heading{
    font-family: Raleway;
    font-size: 80px;
    font-weight: 700;
    text-wrap: wrap;
}
.form-group{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.form-fo{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 330px;
    
}
.email{
    height: 30px;
    border: rgb(124, 96, 96);
    border-radius: 6px;
}
.message{
    height: 60px;
    border: rgb(124, 96, 96);
    border-radius: 6px;
}
/* footer */
.footer-sec{
    background-color: white;
    margin-top: 50px;
    
}
.footer-content{
    text-align: center;
    padding: 80px;
}
.logo-t{
    color:  rgba(78, 71, 255, 1);
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
    line-height: 121px;
    text-align: center;
    
}
.text{
    color: rgba(137, 135, 161, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin:12px;
}
.link{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-left: 2px;
}
